.exercises-section,
.favorites-section {
  padding: 40px 0 80px;
}

.section-head {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
  margin-bottom: 32px;
}

[data-current-category]:not(:empty) {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: rgba(36, 36, 36, 0.5);
}

[data-current-category]:not(:empty)::before {
  content: ' / ';
  color: var(--dark);
  font-size: 28px;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  [data-current-category]:not(:empty)::before {
    font-size: 44px;
  }
}

.filter-list {
  display: flex;
  gap: 20px;
}

.filter-btn {
  position: relative;
  padding: 0 0 8px;
  background: transparent;
  color: var(--gray);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.filter-btn.active {
  color: var(--dark);
}

.filter-btn.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--dark);
}

.search-form {
  position: relative;
  width: 100%;
}

.search-input {
  width: 100%;
  height: 44px;
  padding: 12px 48px 12px 14px;
  border: 1px solid var(--dark);
  border-radius: 30px;
  background-color: transparent;
  color: var(--dark);
  font-size: 14px;
  line-height: 20px;
}

.search-input::placeholder {
  color: var(--dark);
}

.search-input:focus {
  outline: none;
  border-color: var(--dark);
}

.search-btn {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
  background: transparent;
  color: var(--dark);
  cursor: pointer;
}

.search-btn img {
  width: 18px;
  height: 18px;
  display: block;
}

@media screen and (min-width: 768px) {
  .section-head {
    grid-template-columns: 1fr auto;
    grid-template-areas: 'title tabs';
    column-gap: 32px;
    align-items: center;
  }

  .section-head:has(.search-form:not(.is-hidden)) {
    grid-template-areas:
      'title  title'
      'search tabs';
    row-gap: 20px;
  }

  .section-title {
    grid-area: title;
  }

  .filter-list {
    grid-area: tabs;
  }

  .search-form {
    grid-area: search;
    max-width: 264px;
  }

  .search-input {
    height: 48px;
    font-size: 16px;
    line-height: 24px;
  }

  .filter-btn {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .section-head:has(.search-form:not(.is-hidden)) {
    grid-template-columns: 1fr auto auto;
    grid-template-areas: 'title search tabs';
    row-gap: 0;
  }

  .search-form {
    max-width: none;
    width: 264px;
  }
}
